<%# javascript_pack_tag 'sessions/new' %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%# link_to "", root_path, class: "btn-close secondary" %>
      <div class="btn-close secondary back-btn"></div>
    </div>
    <div class="modal-body">
      <div class="row justify-content-md-center">
        <div class="col-10 secondary">
          <div class="col-7 mx-auto login-email">
            <%= form_with(scope: :session, url: email_login_path, local: true) do |f| %>
              <% unless @email.nil? %>
                <ul>
                  <li>認証に失敗しました。</li>
                </ul>
              <% end %>
              <div class="d-grid gap-2">
                <% if @email.blank? %>
                  <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
                <% else %>
                  <%= f.email_field :email, value: @email, class: "form-control" %>
                <% end %>
                <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>
                <%= f.submit "送信", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
          <hr>
          <div class="oauth">
            <div class="col-6 offset-3 login-line">
              <%= link_to image_tag("btn_line_login.png"), "https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=#{ENV["LINE_CLIENT_ID"]}&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fline&state=#{@line_state}&scope=openid%20email" %>
            </div>
            <div class="col-6 offset-3 login-google">
              <%= link_to image_tag("btn_google_signin.png"), "/auth/google_oauth2" %>
            </div>
            <p><br>
              ＊GoogleまたはLINEによるログインの際、ご登録のメールアドレスを取得できます。<br>
              ＊取得を許可した場合、作成したタスクを自分宛に送信する際に使用できます。<br>
              ＊当サイトでは、それ以外の目的では利用いたしません。<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
    <%# <div class="d-md-flex"> %>
        <div class="btn btn-outline-secondary back-btn">閉じる</div>
      <%# link_to "閉じる", root_path, class: "btn btn-outline-secondary close-btn" %>
    </div>
  </div>
</div>
