<div class="modal-dialog modal-lg registration-modal">
  <div class="modal-content">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%# link_to "", :back, class: "btn-close secondary back-btn" %>
      <div class="btn-close secondary back-btn"></div>
    </div>
    <% title = @user.provider.nil? ? "登録" : "修正" %>
    <h3 class="secondary">アカウント<%= title %></h3>
    <div class="modal-body">
      <%= form_with(model: @user, url: user_path(@user, year: @time.year, month: @time.month, day: @time.day, hour: @time.hour), method: :patch, local: true) do |f| %>
        <div class="row justify-content-md-center">
          <div class="col-8 secondary regist-form">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class: "col-3 form-control text-secondary" %>
            <%= f.label :password, class: "label" %>
            <%= f.password_field :password, class: "form-control text-secondary" %>
            <%= f.label :password_confirmation, class: "label" %>
            <%= f.password_field :password_confirmation, class: "form-control text-secondary" %>
            <%= f.hidden_field :expiration_date, value: nil, class: "form-control text-secondary" %>
            <%= f.hidden_field :provider, value: "email", class: "form-control text-secondary" %>
          </div>
          <div class="d-grid d-md-flex gap-3 justify-content-md-center">
            <%= f.submit "送信", class: "btn btn-outline-secondary" %>
            <%# link_to "閉じる", :back, class: "btn btn-outline-secondary back-btn" %>
            <div class="btn btn-outline-secondary back-btn">閉じる</div>
          </div>

          <% if @user.provider.nil? %>
            <hr>
            <div class="oauth">
              <div class="col-6 offset-3 login-line">
                <%# link_to image_tag("btn_line_login.png"), "https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1656830695
  &redirect_uri=https%3A%2F%2Fsleepy-beyond-04608.herokuapp.com%2Fauth&state=#{SecureRandom.urlsafe_base64}&scope=openid%20email" %>
                <%#本命 link_to image_tag("btn_line_login.png"), "https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=#{ENV["LINE_CLIENT_ID"]}&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fline&state=#{@line_state}&scope=openid%20email" %>
                <%= link_to image_tag("btn_line_login.png"), login_line_path, method: :post %>
              </div>
              <div class="col-6 offset-3 login-google">
                <%= link_to image_tag("btn_google_signin.png"), "/auth/google_oauth2" %>
              </div>
              <p><br>
                ＊GoogleまたはLINEによるログインの際、ご登録のメールアドレスを取得できます。<br>
                ＊取得を許可した場合、作成したタスクを自分宛に送信する際に使用できます。<br>
                ＊当サイトでは、それ以外の目的では利用いたしません。<br>
              </p>
            </div>
          <% else %>
            <div class="d-grid d-md-flex gap-3 justify-content-md-center">
              <%= link_to "アカウント削除", user_path(@user), data: {confirm: "アカウントを削除します。"}, method: :delete, class: "btn btn-secondary" %>
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>
