<%= javascript_pack_tag 'users/show' %>


<div class="time-boxing secondary">

  <% if @within %>
    <div class="now-line"></div>
  <% end %>
  <%# <div class="task secondary"></div> %>

  <% @tasks.each do |task| %>
    <% st = task.start_time %>
    <% ft = task.finish_time %>
    <% range = ((task.finish_time - task.start_time) / 60).to_i %>
    <% overflow = range >= 40 ? "" : "overflow" %>
    <% sticky = overflow.blank? ? "sticky" : "" %>
    <% day = "%02d" % st.day %>
    <% hour = "%02d" % st.hour %>
    <% min = "%02d" % st.min %>
    <% cname1 = "task_dhm_#{day+hour+min}" %>
    <% cname2 = "range_#{range}" %>
    <% fhour = "%02d" % ft.hour %>
    <% fmin = "%02d" % ft.min %>
    <div class="badge">
      <%= link_to user_task_path(@user, task.id, time: l(@time, format: :hyphen)), method: :delete do %>
        <span class="delete-btn"></span>
      <% end %>
    </div>
    <% if @edit_task.present? && task.id == @edit_task.id %>
      <%= form_with(model: task, url: user_task_path(@user, task, time: l(@time, format: :hyphen)), local: true) do |f| %>
        <div class="task <%= cname1 %> <%= cname2 %> task-form overflow">
          <%# link_to "削除", user_task_path(@user, task.id), class: "btn btn-light btn-outline-secondary", method: :delete %>
          <%= f.text_field :title, class: "form-control text-secondary" %>
          <div class="row g-2 align-items-center">
            <div class="col-auto">
              <%= f.time_field :start_time, class: "form-control text-secondary" %>
            </div>
            <div class="col-auto">
            〜
            </div>
            <div class="col-auto">
              <%= f.time_field :finish_time, class: "form-control  text-secondary" %>
            </div>
          </div>
            <%= f.text_area :memo, rows: "5", class: "form-control text-secondary", placeholder: "詳細" %>
            <%= f.hidden_field :start_datetime %>
            <%= f.submit "送信", class: "btn btn-light btn-outline-secondary" %>
            <%= link_to "キャンセル", user_path(year: @time.year, month: @time.month, day: @time.day, hour: @time.hour, update: true), class: "btn btn-light btn-outline-secondary" %>
        </div>
      <% end %>
    <% else %>
      <%= link_to user_path(year: @time.year, month: @time.month, day: @time.day, hour: @time.hour, task_id: task.id) do %>
        <div class="task <%= cname1 %> <%= cname2 %> <%= overflow %>">
          <div class="<%= sticky %>">
            <h4 class="task-title"><%= task.title %></h4>
            <div class="time-range"><%= " #{hour} : #{min} 〜 #{fhour} : #{fmin} " %></div>
            <div class="memo"><%= task.memo.nil? ? task.memo : safe_join(task.memo.split("\n"),tag(:br)) %></div>
          </div>
        </div>
      <% end %>
     <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="axis"></div>
      <div class="time">
        <% day = @day[0] %>
        <% for hour in [*@hour..@end_hour] do %>
          <% h = hour % 24 %>
          <% day = @day[1] if @hour != 0 && h == 0 %>
          <% day = @day[1] if @end_hour == hour && h == 0 %>
          <% d = "%02d" % day %>
          <% h = "%02d" % h %>
          <% if hour != @end_hour %>
            <% for m in 0..59 do %>
              <% cname = m == 0 ? "hour" : "" %>
              <% tomorrow = hour != @hour && m == 0 && h == "00" ? "tomorrow" : "" %>
              <% m = "%02d" % m %>
              <% dhm = "dhm_#{d+h+m}" %>
              <div class="<%= dhm %> <%= cname %> <%= tomorrow %>"><%= "#{h.to_i} : #{m}" if m == "00" %></div>
            <% end %>
          <% else %>
            <% tomorrow = hour != @hour && h == "00" ? "tomorrow" : "" %>
            <div class="dhm_<%= d+h %>00 hour <%= tomorrow %>"><%= "#{h.to_i} : 00" %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% now = @time %>
  <% cname = "#{now.year}-#{"%02d" % now.month}-#{"%02d" % now.day}" %>
  <% next_date = "#{now.tomorrow.year}-#{"%02d" % now.tomorrow.month}-#{"%02d" % now.tomorrow.day}" %>
  <div class="today-view <%= cname %> <%= next_date %>">
    <canvas id="today" width="120" height="100"></canvas>
  </div>
  <% if @user.provider.present? && @prev_time %>
    <% time = @prev_time %>
    <% hash = {year: time.year, month: time.month, day: time.day, hour: time.hour, prev: true} %>
    <div class="prev">
      <%= link_to user_path(@user, hash) do %> 
        <%= image_tag("smaller_arrow_left.png") %>
      <% end %>
    </div>
  <% end %>
  <% if @user.provider.present? && @next_time %>
    <% time = @next_time %>
    <% hash = {year: time.year, month: time.month, day: time.day, hour: time.hour, next: true} %>
    <div class="next">
      <%= link_to user_path(@user, hash) do %> 
        <%= image_tag("smaller_arrow_right.png") %>
      <% end %>
    </div>
  <% end %>
  <% if @within %>
    <% if @user.provider && @user.email.present? %>
      <div class="mail">
        <%= link_to send_mail_user_path(@user, ymd: l(@time, format: :ymd), hour: @time.hour), method: :post do %> <%# , data: {confirm: "ご登録のアドレス宛にタスクを送信します。"} %>
          <%= image_tag("smaller_mail.png") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if @within || @over %>
    <div class="addtask">
      <%= link_to new_user_task_path(@user, ymd: l(@time, format: :ymd), day: @day[0], hour: @hour, over: @over), remote: true do %> 
        <canvas id="plus" width="50" height="50"></canvas>
      <% end %>
    </div>
  <% end %>
  <div class="show_to_intro">
    <%= link_to intro_path, remote: true do %> 
     <%= image_tag("smaller_question_mark.png") %>
    <% end %>
  </div>

</div>
<div class="modal task-modal"></div>
<div class="modal registration"></div>
<div class="modal intro"></div>


<%
=begin
%>

    <div class="time-line secondary">
      <% for t in 0..24 do %>
        <% if t < 24 %>
        <p class="hour_<%= t %> space"><%= " #{t} : 00 " %></p>
        <% else %>
        <p class="hour_<%= t %>"><%= " #{t} : 00 " %></p>
          <%# <div class="space"></div> %>
        <%# for m in 0..60 do %>
          <%# <br> %>
        <%# end %>
        <% end %>
      <% end %>
    </div>
    <div class="absolute col-md-7">
      <% for m in 1..1440 do %>
        <% m %= 60 %>
        <div class="task"><%= m %></div>
      <% end %>
    </div>



  <footer>
    <canvas id="clock"></canvas>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</div>

<%
=end
%>

