<!DOCTYPE html>
<html>
  <head>
    <title>タイムボクシングで時間管理♪</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-secondary">
      <%= link_to "TimeBoxing",  "#", id: "logo", class: "navbar-brand" %>
      <%# link_to image_tag("user-icon.png", size: "35x35"), "#login_path", class: "btn rounded-circle p-2" %>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <% if logged_in? && @login_user.provider.present? %>
            <li class="nav-item"><%= link_to "アカウント修正", edit_user_path(@login_user), remote: true, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %></li>
          <% elsif logged_in? %>
            <li class="nav-item"><%= link_to "アカウント登録", edit_user_path(@login_user), remote: true, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "退出", logout_path, method: :delete, data: {confirm: "すべての予定が削除されます。よろしいですか？"}, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
      <% flash.each do |_, msg| %>
        <div class="white right-20">
          <%= msg.html_safe %>
          <%# session[:flash] ? session[:flash]["flashes"]["_"] : "" %>
        </div>
      <% end %>
      <span class="navbar-text white"><%= l(Time.now, format: :long) if params[:action] == "show" %></span>
    </nav>

          <%# </div> %>
          <div class="main">
            <%= yield %>
          </div>
        <%# </div> %>
      <%# </div> %>
    <%# debug(params) if Rails.env.development? %>
    <%# </div> %>
  </body>
</html>
