<!DOCTYPE html>
<html>
  <head>
    <title>タイムボクシングで時間管理♪</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <%# <div class="row"> %>
        <%# <div class="col-md-12"> %>
          <div class="header">
            <nav class="navbar fixed-top bg-secondary">
              <div class="container-md">
                <%= link_to "TimeBoxing",  "#", id: "logo", class: "navbar-brand" %>
                <%# link_to image_tag("user-icon.png", size: "35x35"), "#login_path", class: "btn rounded-circle p-2" %>
                <% if logged_in? && @login_user.provider.present? %>
                  <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
                <% elsif logged_in? %>
                  <%= link_to "退出", logout_path, method: :delete, data: {confirm: "すべての予定が削除されます。よろしいですか？"}, class: "nav-link" %>
                <% end %>
              </div>
            </nav>
          </div>
          <div class="main">
            <% flash.each do |message_type, msg| %>
              <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div>
            <% end %>
            <%= yield %>
          </div>
        <%# </div> %>
      <%# </div> %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
